body{
    font-family: 'Yellowtail', cursive;
}
h1{
    
    font-size: 50px;
}
h2{
    
    font-size: 30px;
}
.identity{
    color: deeppink;
}
h4{
    color: firebrick;
    font-weight: 600;
    font-size: 20px;
}